.vacancy__about {
  &-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 52px 0px;
    border-bottom: 1px solid rgba(76, 66, 74, .15);
    gap: 45px;
    &:first-of-type {
      padding-top: 0px;
    }
    &:last-of-type {
      border-bottom: none;
      padding-bottom: 0px;
    }
    &__title {
      font-size: 24px;
      font-weight: 500;
    }
    &__list {
      list-style: circle;
      display: flex;
      flex-direction: column;
      gap: 26px;
      & li {
        position: relative;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        &::before {
          content: "-";
          position: absolute;
          font-size: 36px;
          font-weight: 300;
          left: -24px;
          top: -2px;
        }
        & b {
          font-weight: 600;
        }
      }
    }
  }
  &-bottom {
    padding-top: 45px;
    @include align-center;
    justify-content: space-between;
  }
  &-back {
    @include align-center;
    gap: 12px;
    font-size: 16px;
    &:hover {
      color: var(--primary-color);
    }
  }
}

@include desktop {
  .vacancy__about {
    &-box {
      padding: 45px 0px;
      &__title {
        font-size: 20px;
      }
      &__list {
        gap: 22px;
        & li {
          font-size: 16px;
          line-height: 28px;
          &::before {
            font-size: 32px;
          }
        }
      }
    }
    &-bottom {
      padding-top: 36px;
    }
    &-back {
      gap: 11px;
      font-size: 15px;
    }
  }
}

@include tablet {
  .vacancy__about {
    &-box {
      padding: 40px 0px;
      &__title {
        font-size: 18px;
      }
      &__list {
        gap: 18px;
        & li {
          font-size: 14px;
          line-height: 26px;
          &::before {
            font-size: 28px;
          }
        }
      }
    }
    &-bottom {
      padding-top: 30px;
    }
    &-back {
      gap: 10px;
      font-size: 14px;
      & svg {
        width: 16px;
        height: 16px;
      }
    }
  }
}

@include phablet {
  .vacancy__about {
    &-box {
      grid-template-columns: repeat(1, 1fr);
      padding: 36px 0px;
      gap: 32px;
      &__title {
        font-size: 18px;
      }
      &__list {
        gap: 20px;
        & li {
          font-size: 15px;
          line-height: 27px;
          margin-left: 24px;
        }
      }
    }
    &-bottom {
      padding-top: 30px;
    }
    &-back {
      gap: 9px;
      font-size: 13px;
      & svg {
        width: 15px;
        height: 15px;
      }
    }
  }
}

@include mobile {
  .vacancy__about {
    &-box {
      padding: 30px 0px;
      gap: 27px;
      &__title {
        font-size: 16px;
      }
      &__list {
        gap: 17px;
        & li {
          font-size: 14px;
          line-height: 26px;
        }
      }
    }
    &-bottom {
      padding-top: 28px;
    }
    &-back {
      gap: 8px;
      font-size: 12px;
      & svg {
        width: 14px;
        height: 14px;
      }
    }
  }
}

@include small-mobile {
  .vacancy__about {
    &-box {
      padding: 25px 0px;
      gap: 22px;
      &__title {
        font-size: 15px;
      }
      &__list {
        gap: 15px;
        & li {
          font-size: 13px;
          line-height: 25px;
        }
      }
    }
    &-bottom {
      padding-top: 30px;
      flex-direction: column;
      gap: 25px;
    }
    &-back {
      order: 2;
    }
    &-btn {
      width: 80%;
      order: 1;
    }
  }
}