:root {
  --color-dark: #1e1e1e;
  --color-light: #FFFFFF;
  --primary-color: #81c400;
  --primary-color-alt: #72b000;
  --color-gray: #9D9D9D;
  --color-gray-alt: #e0e0e0;
  --bg-gray: #353535;
  --bg-gray-alt: #f2f2f2;
  --text-color: #4c424a;

  --font-family: "Montserrat", monospace;

  --bg-gradient: linear-gradient(132deg,#000000,#03300e,#004d32);

  --border-radius: 12px;
  
  --transition-duration: 0.3s;
}